@model List<BookListViewModel>
@{
    ViewBag.Title = "All Books";
    var filtering = new FilteringViewModel
            {
                SortBy = Context.Request.Query["SortBy"],
                SortDirection = Context.Request.Query["SortDirection"]
            };
}
<div class="all-books-page">
<header>
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
    @await Html.PartialAsync("_SearchBarPartial")
</header>
@if(!User.Identity.IsAuthenticated)
{
<h2>Login to use the library</h2>
}
else if (Model.Count > 0)
{
        @await Html.PartialAsync("_SortBooks", filtering)
    <div class="container mt-4">
        @await Html.PartialAsync("_AllBooks", Model)
    </div>
}
else
{
    <h2>The library is temporairly closed</h2>
}
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/AllBooks.css" />
    <link rel="stylesheet" href="~/css/AllBooksPartial.css" />
}