@using FInalProject.ViewModels
@model BookCreationViewModel
@{
    ViewData["Title"] = "Book Creation";
}
<header>
    <h1>Book creation</h1>
</header>

<form asp-controller="Books" asp-action="CreateABook">

    <div asp-validation-summary="ModelOnly" class="text-danger">
    </div>
    <label for="BookName">Name</label>
    <input asp-for="Name" type="text" id="BookName" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />

    <label for="BookGenres">Genres</label>
    <select asp-for="Genres" id='genres' multiple="multiple" class="form-control">
        @foreach(var genre in Model.Genres)
        {
            <option value="genre.Id">@genre.Name</option>
        }
    <label for="BookAuthor">Author</label>
    <input asp-for="Author" type="text" id="BookAuthor" />
    <span asp-validation-for="Author" class="text-danger"></span>
    <br />

    <label for="BookDescription">Description</label>
    <input asp-for="Description" type="text" id="BookDescription" />
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />

    <label for="BookReadingTime">Reading time</label>
    <input asp-for="ReadingTime" type="text" id="BookReadingTime" />
    <span asp-validation-for="ReadingTime" class="text-danger"></span>
    <br />

    <label for="BookCoverImage">Cover</label>
    <input asp-for="CoverImage" type="text" id="BookCoverIamge" />
    <span asp-validation-for="CoverImage" class="text-danger"></span>
    <br />

    <label for="BookPages">Pages</label>
    <input asp-for="Pages" type="text" id="BookPages" />
    <span asp-validation-for="Pages" class="text-danger"></span>
    <br />

    <br />

    <input type="submit" value="Submit" />
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}