@model BooksFromCategoryViewModel
@{
    ViewBag.Title = $"Books from category: {Model.Category}";
    var filtering = new FilteringViewModel
            {
                SortBy = Context.Request.Query["SortBy"],
                SortDirection = Context.Request.Query["SortDirection"]
            };
}
<div class="content">
@if (!User.Identity.IsAuthenticated)
{
    <h2>Please login to access the library</h2>
}

@await Html.PartialAsync("_SearchBarPartial")

@if(User.Identity.IsAuthenticated)
{
    @await Html.PartialAsync("_SortBooks", filtering)
    @if(Model.BooksFromCategory == null || !Model.BooksFromCategory.Any())
    {
        <h2>@Model.Message</h2>
    }
    else
    {
        <h2>@Model.Message</h2>
       @await Html.PartialAsync("_AllBooks", Model.BooksFromCategory)
    }
}
</div>
@section Styles{
    <link rel="stylesheet" href="~/css/BookPages.css"/>
    <link rel="stylesheet" href="~/css/AllBooksPartial.css"/>
}