@using FInalProject.ViewModels.Book.BookFiltering
@model SearchResultsViewModel
@{
    ViewBag.Title = "Search results";
    var filtering = new FilteringViewModel
            {
                SortBy = Context.Request.Query["SortBy"],
                SortDirection = Context.Request.Query["SortDirection"]
            };
}
<div class="content">
@if (!User.Identity.IsAuthenticated)
{
    <h2>Login to access the library</h2>
}
@await Html.PartialAsync("_SearchBarPartial")
@await Html.PartialAsync("_SortBooks", filtering)
@if(Model.BooksMatchingQuery is null || !Model.BooksMatchingQuery.Any())
{
    <h2>@Model.Message</h2>
}
else
{
    <h2>@Model.Message</h2>
    <div class="container mt-4">
    @await Html.PartialAsync("_AllBooks", Model.BooksMatchingQuery)
    </div>
}
</div>
@section Styles{
    <link rel="stylesheet" href="~/css/BookPages.css" />
    <link rel="stylesheet" href="~/css/AllBooksPartial.css" />
}