@using FInalProject.Data.Models;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (!User.Identity.IsAuthenticated)
    {
        <p>login or register to use the library</p>
    }
</div>
<div class="container mt-5 d-flex justify-content-center">
    <div class="row justify-content-center">
        @foreach (var category in new[]
        {
        new { Name = "Magazine", Modifier = 1 },
        new { Name = "Newspaper", Modifier = 2 },
        new { Name = "Comics", Modifier = 3 },
        new { Name = "Educational Books", Modifier = 4 },
        new { Name = "Books", Modifier = 5 }
        })
        {
            <div class="col-md-6 col-lg-4 mb-4 d-flex justify-content-center">
                <div class="card text-center shadow-lg" style="width: 18rem; height: 12rem;">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title">@category.Name</h5>
                        <a href="@Url.Action("AllBooks", "Books", new {modifier = category.Modifier})" class="btn btn-primary mt-2">Browse</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>