@using FInalProject.Models;
@model List<Genre>; 
@{
    ViewBag.Title = "GenreList";
}
<header>
    <h1>Genre List</h1>
    @if (User.IsInRole("Admin"))
    {
        await Html.RenderPartialAsync("_AddGenre");
    }
</header>
<hr />
@foreach( var genre in Model)
{
    <div class="card p-3 mb-3">
        <div class="d-flex justify-content-between align-items-center">
            <a href="@Url.Action("SpecificGenreList", "Genre", new { genreId = genre.Id })" class="btn btn-primary">
                @genre.Name
            </a>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-@genre.Id" data-bs-toggle="dropdown" aria-expanded="false">
                    ⋮ 
                </button>
                @if (User.IsInRole("Admin"))
                {
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-@genre.Id">
                        <li>
                            <a class="dropdown-item" href="@Url.Action("EditGenre", "Genre", new { editId = genre.Id })">Edit</a>
                        </li>
                        <li>
                            <form method="post" action="@Url.Action("DeleteGenre", "Genre", new { doomedGenreId = genre.Id })" onsubmit="return confirm('Are you sure you want to delete this genre?');">
                                <button type="submit" class="dropdown-item text-danger">Delete</button>
                            </form>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
}

      

        