@model BooksFromGenreViewModel
@{
    ViewBag.Title = "All Books";
}
<h1>@Model.Genre</h1>
<hr />
@if (Model.BooksMatchingGenre == null || !Model.BooksMatchingGenre.Any())
{
    <h2>@Model.Message</h2>
}
else
{
    <h2>@Model.Message</h2>
    @await Html.PartialAsync("_AllBooks", Model.BooksMatchingGenre);
}