@using FInalProject.Application.ViewModels.Author.AuthorOperations
@model AddAuthorPortraitViewModel;
@{
    ViewBag.Title = "Author Portrait input field";
}
<form method="post" asp-action="AddAuthorPortrait" asp-controller="Authors">
    @Html.AntiForgeryToken();
    <input hidden asp-for="Id"/>
    <input asp-for="Picture"/>
    <input type="submit" value="Submit"/>
</form>