@using FInalProject.ViewModels
@using FInalProject.ViewModels.Book.BookOperations
@model ReturnBookViewModel
@{
    ViewBag.Title = "Return book partial";
}
<form id="ReturnBook" method="post">
    <input hidden asp-for="UserId" />
    <input hidden asp-for="BookId" />
    <button type="submit" class="btn btn-primary w-100">
        <i>Return</i>
    </button>
</form>
