@{
    ViewBag.Title = "Search bar";
}
<form asp-action="Search" asp-controller="Books" method="get">
    <input name="searchedString" type="text" id="SearchField" />
    <input type="submit" value="Submit" />
</form>

