@{
    ViewBag.Title = "Please login";
}
<style>
    div {text-align:center; align-content:center;}
</style>
<div>
    <h3>Please login to acces the library</h3>
    <hr />
    <h5 style="center">Thank you in advance</h5>
</div>

