@using FInalProject.Application.ViewModels;
@using FInalProject.Application.ViewModels.Genre
@using FInalProject.Application.ViewModels.Genre.GenreOprations
@model GenreEditViewModel;
@{
    ViewBag.Title = "Edit Genre Partial";
}
<form asp-action="SaveChangesToGenre" asp-controller="Genre" method="post" onsubmit="closeModal();">
    <input asp-for="Id" type="hidden"/>
    @Html.AntiForgeryToken()
    <label for="GenreName">Genre Name</label>
    <input asp-for="Name" type="text" placeholder="@Model.Name"/>
</form>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/site.js"></script>
}
